@font-face {
    font-family: 'MH-Font';
    src: url('../font/Ultramagnetic.ttf');
}

body {
}

#header {
	/*background-color: black;*/
	background-color: #ff3c00;
	height: 200px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	padding: 30px 10px 30px 10px;
	margin: auto;
	text-align: center;
}

#content {
	position: relative;
	top: 300px;
	margin: auto;
	height: 50%;
}

#footer {
	background-color: #ff3c00;
	height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

img#logo {
	height: 200px;
	/*text-align: center;*/
	margin: auto;
	float: center;
}

body {
	padding: 0;
}