html, body {
	height: 100%;
    width: 100%;
    overflow: auto;
}

@font-face {
    font-family: 'MH-Font';
    src: url('../fonts/Ultramagnetic.ttf');
}

body {
	background-color: #ff3c00;
}

#header {
	background-color: #ff3c00;
	height: 200px;
	width: 100%;
	margin: auto;
	text-align: center;
}

#content{
	background:#ff3c00;
	/*background-size: 100%;*/
	height: 100%;
	width: 100%;
	margin: auto;
	padding-top: 80px;
	padding-left: 30%;
}

form {
	font-family: MH-Font;
	margin: auto;
	vertical-align: middle;
}

label {
	color: white;
	font-family: MH-Font;
	font-size: 15pt;
}

img#logo {
	padding-top: 10px;
	height: 190px;
	margin: auto;
	float: center;
}
